#audio-container audio{
	padding-top: 30px;
}

#audio-container audio{
	width: 100%;
}

.clipping-list {
	padding-top: 30px;
}

.clip-categories-tags {
	width: 100%;
}

.clip-page .clip-body .clip-categories .clip-categories-tags{
	width:100%;
/*	margin-top:26px; */
}

.clip-page .clip-body .clip-categories .clip-categories-tags .clip-category-title{line-height:50px;padding-left:15px}
.clip-page .clip-body .clip-categories .clip-categories-tags .clip-category{background-color:#FFF;color:#858484;padding:4px 16px;border:1px solid #ccc;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;text-transform:uppercase;margin-left:15px;line-height:50px;white-space:nowrap}

.timetag-ui {
	float: left;
	width: auto;
	background-color: #d3d3d3;
	padding: 5px;
}

.timetag-ui button {
	float: left;
	clear: left;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border: 0;
	background-color: #d3d3d3;
	color: #000;
	white-space: nowrap;
}

.timetag-ui button:hover, .timetag-ui button:focus {
	background-color: #FFF;
}

.timetag-wrapper button.clip-timetag {
        border: none;
        outline: none;
        background-color: Transparent;
}

.timetag-wrapper {
        float: left;
}

.clip-timetag-title {
	background-color: #FFF;
	color: #858484;
	padding: 4px 16px;
	border: 1px solid #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-transform: uppercase;
	/* margin-left: 15px; */
	line-height: 50px;
	white-space: nowrap;
}

div.clip-categories-long {
        overflow: hidden;
}
